---
layout: base
title: MHV community blog
permalink: blog/
---
	<article class="container">
	  <h1>{{ page.title }}</h1>
		{% for post in site.posts %}
		{% unless post.categories contains 'projects' %}
		{% unless post.draft %}
	    <section class="index">
	        {% if site.data.members[post.author]['hackergotchi'] %}
	        <img src="/files/hackergotchis/{{ site.data.members[post.author]['hackergotchi'] }}" class="avatar">
	        {% endif %}
	        <div>
	            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
	            <p>{{ post.excerpt }}</p>
	            <div class="meta">
	                Written By <address>{{ site.data.members[post.author]['name'] }}</address> &mdash;
	                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time><br>
	                {% if post.categories contains 'news' %}
	                <span class="news-item">News</span>
	                {% elsif post.categories contains 'events' %}
	                <span class="event-item">Event</span>
	                {% endif %}
	            </div>
	        </div>
	        <hr>
	    </section>
	    {% endunless %}
	    {% endunless %}
	    {% endfor %}
	    <section class="pagination" style="text-align:center">
	      {% if paginator.previous_page %}
	        {% if paginator.previous_page == 1 %}
	        <a href="/" class="btn btn-outline">‹ Newer</a>
	        {% else %}
	        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
	        {% endif %}
	      {% endif %}
	      {% if paginator.next_page %}
	        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
	      {% endif %}
	    </section>
	</article>
