<div class="blog-cover" style="background-image:url(/files/{{ site.inc.cover_image }});">
    <section>
        <h1>{{ site.inc.title }}</h1>
        {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}

        {% if site.inc.twitter %}
        <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
        {% endif %}
        {% if site.inc.facebook %}
        <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
        {% endif %}
        {% if site.inc.github %}
        <a href="http://github.com/{{ site.inc.github }}" title="Our repositories on Github" target="_blank"><i class="icon icon-github"></i></a>
        {% endif %}
        <a href="/feed.xml" title="RSS Feed">
            <i class="icon icon-rss"></i>
        </a>
    </section>
</div>
