<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <header>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="/about/" class="dropdown-toggle">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/our-space">Our Space</a></li>
                  <li><a href="/our-space#facilities">Facilities</a></li>
                  <li><a href="/our-space#getting_there">Getting There</a></li>
                  <li><a href="/meetings/">Meetings</a>
                  <li><a href="/contacts/">Contacts</a>
                  <li><a href="code-of-conduct">Code of Conduct</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/join/" class="dropdown-toggle">Join <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/join#membership">Benefits</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">Blog <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">News</a></li>
                  <li><a href="#">Events</a></li>
                </ul>
              </li>
              <li><a href="/projects/">Projects</a></li>
              <li class="dropdown">
                <a href="http://wiki.makehackvoid.com/" class="dropdown-toggle">Wiki <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="http://wiki.makehackvoid.com/#workshops_training">Workshops &amp Training</a></li>
                  <li><a href="http://wiki.makehackvoid.com/#projects">Projects</a></li>
                  <li><a href="http://wiki.makehackvoid.com/#policy">Policies</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>

    <div class="container">
