/* CONFIGURATION */

// Body fonts
$font: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Heading fonts
$fontheadings: "Monda", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Text colours
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;

// IMPORT CSS FILES
@import "variables";
@import "mixins";
@import "grid";
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";
@import "mhv.scss";